/*dark blue theme-------  */

.dark-blue-bg{
  background: rgb(1, 19, 22);
}

.dark-blue-content {
  background: #195f70;
}

.dark-blue-text {
  color: white;
}

.dark-blue-text-2 {
  color: rgb(122, 218, 235);
}

/*dark orange theme-------  */

.dark-orange-bg {
  background:rgb(82, 37, 16);
}
.dark-orange-content {
  background: rgb(192, 73, 29);
}
.dark-orange-text {
  color: white;
}
.dark-orange-text-2 {
  color: rgb(241, 188, 127);
}


/*dark green theme-------  */

.dark-green-bg {
  background:rgb(16, 65, 23);
}
.dark-green-content {
  background: rgb(21, 158, 39);
}
.dark-green-text {
  color: rgb(255, 255, 255);
}
.dark-green-text-2 {
  color: rgb(136, 241, 127);
}


/*light green theme-------  */

.light-green-bg {
  background:rgb(193, 226, 198);
}
.light-green-content {
  background: rgb(76, 179, 90);
}
.light-green-text {
  color: rgb(0, 0, 0);
}
.light-green-text-2 {
  color: rgb(15, 48, 12);
}


.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin-left: -12px;
 
}






/* botstrap design er code */
.items-wrapper {
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.inner-item {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  justify-content: space-between;


}
#btnTh{
  padding: 8px;
  border-radius: 8px;
}

.inner-item div.title-wrapper {
  display: flex;
}

.inner-item div {
  padding-left: 8px;
  text-align: start;
}

.inner-item img {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  align-self: center;
}


/*---------------Navbar Start-------------*/


@media screen and (min-width: 860px){
  
.sidebar{
  height:100vh;
  position:fixed;
  width:30vw;
  transition-duration:.5s;
  z-index:2000;
  right:-300px;
  top:0px;
  font-weight:bold;
}

}
@media screen and (min-width: 720px){
  
.sidebar{
  height:100vh;
  position:fixed;
  width:45vw;
  transition-duration:.5s;
  z-index:2000;
  right:-300px;
  top:0px;
  font-weight:bold;
}

}
@media screen and (min-width: 5px){
  
.sidebar{
  height:100vh;
  position:fixed;
  width:90vw;
  transition-duration:.5s;
  z-index:2000;
  right:-300px;
  top:0px;
  font-weight:bold;
}

}

.sidebar{
  height:100vh;
  position:fixed;
  width:320px;
  transition-duration:.5s;
  z-index:2000;
  right:-300px;
  top:0px;
  font-weight:bold;
}


.sidebar h4{
  padding:15px 40px;
  margin-top:20px;
  font-size:13px;
  letter-spacing:1px;
  font-weight:bolder;
  
  
}


.sidebar a{
  width:100%;
  box-sizing:border-box;
  padding-left:40px;
  font-size:15px;
  line-height:40px;
  text-decoration:none;
}

.sidebar a:hover{text-decoration:none;}


/*---------------Developing part--------------+*/

ul{
  list-style-type: none;
}

li a{
 
  margin-left: -40px;
}

#check{display:none;}


label #bars,label #close{
  position:absolute;
  padding:15px;
  cursor: pointer;
  transition-duration:.5s;
  border-radius: 0px 10px;
  
}


label #bars{
  right:20px;
  top:20px;
  font-size:20px;
  z-index:98;
  position:fixed;
  padding:10px;
  
}




label #close{
  top:20px;
  z-index:10;
  /*left:-300px;*/
  opacity:0;
  position:fixed;
  right:20px;
}


#check:checked ~ .sidebar{
  right:0px;
}


#check:checked ~ label #bars{
  opacity:0;
  pointer-events:none;
}


#check:checked ~ label #close{      
     position:fixed;
     z-index:105000;
     opacity:1;
}

.sidebar li{transition-duration:0.5s;}



/*---------------Navbar End----------------*/


/* for theme */

.forTheme{
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  cursor: pointer;
}

.forTheme::-webkit-scrollbar{
  border-radius: 20px;
  margin-top: 20px;
  height: 10px;
  width: 50% !important;
}



/* Track */
.forTheme::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
.forTheme::-webkit-scrollbar-thumb {
  border-radius:20px;
}

/* Handle on hover */

.themeItem {  
  min-height: 100px;
  margin-right: 20px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.themeItem img{
  width: 100%;
}


